.pongRed {
  position: fixed;
  margin-left: 0.4vw;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 0.2vw;
  height: 11vh;
  background-color: rgba(255, 102, 0, 0.8);
  border: 2px solid;
  /* border-color: rgb(190, 82, 14); */
  border-color: black;
}
